.body {
  font-family: "Roboto";
}
.btn-section1:hover {
  background: #4d5ae5;
}
.link-studio:hover,
.link-studio:active {
  color: #404bbf;
}
.link-portfolio:hover {
  color: #404bbf;
}
.link-contacts:hover {
  color: #404bbf;
}
